
*{
    box-sizing: border-box;
}

input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}

h1{

    color: white;
    
}

body{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color:darkgray;
}

header{

    padding: 50px;
    background-color:rgb(41, 39, 39);
    text-align: center;

}

section{

    max-width: 30em;
    margin: 1em auto;
    background-color: bisque;
    padding: 1em;
    width: 90%;
    border: 1px solid black;
    
}

button, input, select, textarea {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
    width : 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

input[type=text], select, input[type=number] {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

label{
    display: block;
}
